/* header */
/* @media all (min-) */
.page-main-nav {
    display: flex;
    justify-content: space-between;
}

.first-name-degree {
    margin: 23px 24px;
    margin-right: 241px;
}

.first-name {
    color: #000000;
    font-weight: 900;
    font-size: 17.21px;
    font-family: 'Inter', sans-serif;
}

.first-name-sub {
    font-size: 5.74px;
    color: #000000;
    font-family: 'Inter', sans-serif;
}

.first-name-degree {
    display: flex;
}

.menu-logo {
    margin: 20px 0px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #000000;
    display: flex;
}

.menu-logo-decorations {
    margin: 8px 5px;
}

.menu-logo-decoration-1 {
    width: 15.12px;
    height: 1px;
    background-color: #FFFFFF;
}

.menu-logo-decoration-2 {
    width: 15.12px;
    height: 1px;
    background-color: #FFFFFF;
    margin: 4px 0px;

}

.menu-logo-decoration-3 {
    width: 15.12px;
    height: 1px;
    background-color: #FFFFFF;
}
button{
    border: none;
    background: none;
}
/* mine */
.main-name-page-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-name-page{
    width: 327px;
    font-size: 40px;
    font-weight: 900;
    color: #000000;
    font-family: 'Inter', sans-serif;
}
.main-name-page-center-about{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-name-page-center-about{
    margin-top: 24px;
    width: 327px;
    height: 84px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    font-family: 'Inter', sans-serif;
}